__pycache__/
_models/
output/
posenet/__pycache__/
posenet/converter/__pycache__/
posenet/models/__pycache__/
wandb/
images_train/
heatmaps_train/
images_test/
keypoint_output_training/
keypoints_updated/
labels_train/
pred_heatmaps_test/
pred_heatmaps_training/
heatmaps/
heatmaps_2/
binary_target_heatmaps_training/
labels_train_old/
posenet/.ipynb_checkpoints/
posenet/converter/.ipynb_checkpoints/
posenet/models/.ipynb_checkpoints/
pred_heatmaps_training_2/
pred_heatmaps_training_heatmap_loss_only/
pred_heatmaps_training_offset_loss_only/
.ipynb_checkpoints/
.DS_Store
